@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/*===========================
･･･Base
=============================*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  font-size: .875rem;
}

body a {
  color: #333;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

[lang="en"] {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Baloo Bhai', cursive;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

/*===========================
･･･layout
=============================*/
.l-wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

/*===========================
･･･色
=============================*/
.fc-green {
  color: #A7CB95;
}

.fc-orange {
  color: #FAC671;
}

.fc-yellow {
  color: #f5e431;
}

/*========
･･･アクセシビリティ
=============================*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

/*===========================
･･･fadein
=============================*/
.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#particles-js {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/*===========================
･･･header
=============================*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
}

.l-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#l-nav__list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  margin: 4.6rem 0 0;
  text-align: center;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

#l-nav__list:before {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

#l-nav__list a {
  color: #fff;
  display: block;
  padding: 1rem 0;
  -webkit-transition: 0.2s- ease-in-out;
  transition: 0.2s- ease-in-out;
}

#l-nav__list a:hover {
  opacity: .7;
}

.is-active-drawer #l-nav__list {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .l-nav {
    padding: 2rem 0 0;
  }
  #l-nav__list {
    position: static;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    width: auto;
    height: auto;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #l-nav__list:before {
    content: none;
  }
  #l-nav__list a {
    display: block;
    color: #333;
    border-bottom: 5px solid transparent;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-size: 1.25rem;
  }
  #l-nav__list li + li {
    margin: 0 0 0 4.5rem;
  }
}

/*===========================
･･･title
=============================*/
.l-title {
  padding: .5rem 0;
}

.l-title a {
  display: block;
}

.l-title_large {
  display: block;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .l-title {
    padding: 1rem 0;
  }
  .l-title_large {
    font-size: 2.5rem;
  }
}

/*===========================
･･･hero
=============================*/
.l-hero__text {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 7vw;
}

@media screen and (min-width: 768px) {
  .l-hero__text {
    left: 18%;
    font-size: 4.5vw;
  }
}

/*===========================
･･･section
=============================*/
.l-section {
  padding: 4rem 0;
  position: relative;
}

.l-section:nth-of-type(2n) {
  background: #eee;
}

.l-section__title {
  font-size: .85rem;
  text-align: center;
  margin: 0 0 3rem;
  letter-spacing: 5px;
}

.l-section__title_large {
  font-size: 3rem;
  text-shadow: 2px 2px 5px #ccc;
  -webkit-text-stroke: 1px #FFF;
  text-stroke: 1px #FFF;
  display: block;
}

.l-section.-line:before, .l-section.-line:after {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  margin: auto;
  content: "";
  display: block;
  width: 4px;
}

.l-section.-line:before {
  height: 100px;
  background: #A7CB95;
}

.l-section.-line:after {
  height: 50px;
  top: 0;
  background: #333;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding: 7.625rem 0;
  }
  .l-section__title {
    font-size: 1rem;
    margin: 0 0 3rem;
  }
  .l-section__title_large {
    font-size: 5rem;
  }
}

/*===========================
･･･About
=============================*/
.l-about__profile {
  padding: 20px;
  border: 15px solid #FAC671;
  height: auto;
  margin: 0 0 1rem;
}

.l-about__profile__img img {
  width: 100%;
  margin: 0 auto;
}

.l-about__profile__text {
  margin: 1rem 0 0;
}

.about__profile__name {
  font-size: 1.3rem;
  line-height: 1;
  display: inline-block;
}

.about__profile__icon {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.about__profile__icon:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: #FAC671;
}

.about__profile__age {
  display: block;
  margin: 0 0 .7rem;
}

.l-about__message {
  background: url(../../img/icon-cat.png) no-repeat right 250px;
}

.l-about__message__title {
  font-size: 1.3rem;
}

.l-about__message__contents {
  margin: 0 0 2rem;
  font-size: .95rem;
}

@media screen and (min-width: 768px) {
  .l-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-about__profile {
    width: 50%;
  }
  .about__profile__name {
    font-size: 2rem;
  }
  .l-about__message {
    width: calc(50% - 1rem);
    background: url(../../img/icon-cat.png) no-repeat right 250px;
  }
  .l-about__message__title {
    font-size: 2rem;
  }
}

/*===========================
･･･Skill
=============================*/
.l-skill-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 2rem;
}

.skill-list__title {
  width: 20%;
}

.skill-list__contents {
  width: 70%;
}

@media screen and (min-width: 768px) {
  .l-skill-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-skill-list li {
    width: 50%;
  }
}

.skill_list__percentage {
  padding: 0 .5rem 0 0;
  width: 100%;
  background: #ccc;
  text-align: right;
  position: relative;
}

.skill_list__percentage:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: -1;
}

.skill_list__percentage.percentage_90:after {
  -webkit-animation: percentage_90 2s ease-in-out  1 forwards;
          animation: percentage_90 2s ease-in-out  1 forwards;
}

.skill_list__percentage.percentage_80:after {
  -webkit-animation: percentage_80 2s ease-in-out  1 forwards;
          animation: percentage_80 2s ease-in-out  1 forwards;
}

.skill_list__percentage.percentage_70:after {
  -webkit-animation: percentage_70 2s ease-in-out  1 forwards;
          animation: percentage_70 2s ease-in-out  1 forwards;
}

.skill_list__percentage.percentage_60:after {
  -webkit-animation: percentage_60 2s ease-in-out  1 forwards;
          animation: percentage_60 2s ease-in-out  1 forwards;
}

.skill_list__percentage.percentage_30:after {
  -webkit-animation: percentage_30 2s ease-in-out  1 forwards;
          animation: percentage_30 2s ease-in-out  1 forwards;
}

@-webkit-keyframes percentage_90 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 90%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#f5e431));
    background: linear-gradient(to right, #FAC671, #f5e431);
  }
}

@keyframes percentage_90 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 90%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#f5e431));
    background: linear-gradient(to right, #FAC671, #f5e431);
  }
}

@-webkit-keyframes percentage_80 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 80%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#F5E431));
    background: linear-gradient(to right, #FAC671, #F5E431);
  }
}

@keyframes percentage_80 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 80%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#F5E431));
    background: linear-gradient(to right, #FAC671, #F5E431);
  }
}

@-webkit-keyframes percentage_70 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 70%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#F5E431));
    background: linear-gradient(to right, #FAC671, #F5E431);
  }
}

@keyframes percentage_70 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 70%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#F5E431));
    background: linear-gradient(to right, #FAC671, #F5E431);
  }
}

@-webkit-keyframes percentage_60 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 60%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#F5E431));
    background: linear-gradient(to right, #FAC671, #F5E431);
  }
}

@keyframes percentage_60 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 60%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#F5E431));
    background: linear-gradient(to right, #FAC671, #F5E431);
  }
}

@-webkit-keyframes percentage_30 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 30%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#F5E431));
    background: linear-gradient(to right, #FAC671, #F5E431);
  }
}

@keyframes percentage_30 {
  0% {
    width: 0%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671));
    background: linear-gradient(to right, #FAC671);
  }
  100% {
    width: 30%;
    background: -webkit-gradient(linear, left top, right top, from(#FAC671), to(#F5E431));
    background: linear-gradient(to right, #FAC671, #F5E431);
  }
}

/*===========================
･･･works
=============================*/
.l-works-list li {
  text-align: center;
  margin: 0 0 3rem;
}

.l-works__contents {
  display: block;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin: 0 0 1rem;
}

.l-works__contents:hover {
  opacity: .7;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.l-works__img {
  width: 100%;
  margin: 0 0 1rem;
}

.l-works__title {
  position: relative;
}

.l-works__title:after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: 'Font Awesome 5 Free';
  content: "\f35d";
  color: #333;
  font-weight: 900;
}

.l-works__button {
  display: block;
  margin: .5rem 0 0 0;
  padding: .5rem;
  border-radius: 5px;
  display: inline-block;
  font-size: .875rem;
  background: #F5E431;
}

@media screen and (min-width: 768px) {
  .l-works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-works-list li {
    width: calc((100% - 48px)/3);
    margin: 0 0 3rem;
  }
  .l-works__contents {
    margin: 0 0 2rem;
  }
}

/*========
･･･モジュール・ハンバーガー
=============================*/
.button-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2.5%;
  z-index: 200;
  width: 24px;
  height: 24px;
  margin: auto 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  background: #333;
}

.hamburger:before, .hamburger:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.hamburger:before {
  top: -5px;
}

.hamburger:after {
  bottom: -5px;
}

@media screen and (min-width: 768px) {
  .button-hamburger {
    display: none;
  }
}

.is-active-drawer .hamburger {
  background: transparent;
}

.is-active-drawer .hamburger:before, .is-active-drawer .hamburger:after {
  top: 0;
  background: #333;
}

.is-active-drawer .hamburger:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.is-active-drawer .hamburger:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.l-footer {
  background: #333;
  padding: 1.5rem 0;
  color: #fff;
}

.l-footer a {
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.l-footer a:hover {
  opacity: .7;
}

.l-footer__title a {
  display: block;
}

.l-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 2rem;
}

.l-footer__nav li + li {
  margin: 0 0 0 1rem;
}

.l-footer__copyright {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .l-footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-footer__nav {
    margin: 2rem 0 0;
  }
  .l-footer__copyright {
    clear: both;
    text-align: center;
  }
}

.l-overview__img {
  margin: 0 0 2rem;
}

.l-overview__text dd {
  margin: 0 0 1rem;
  padding: 0 0 0 1.8rem;
}

.l-overview__text__circle:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #FAC671;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}

@media screen and (min-width: 768px) {
  .l-overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-overview__img {
    width: 45%;
    margin: 0;
  }
  .l-overview__text {
    width: 50%;
  }
}
