@charset "utf-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/*========
･･･ベース
=============================*/
// 変数の定義

// メディアクエリ

$sp: 320px;
$tab: 768px;
$desk: 1024px;

@mixin mq($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

//  色
$men: #1a237e;
$women: #B71C1C;
$kids: #FBC02D;


html {
  box-sizing: border-box;
}

body {
  font-family:  'Noto Sans JP',"游ゴシック",sans-serif;
  line-height: 1.5;
  color: #333;
  font-size: .875rem;

  a {
    color: #212121;
  }
}

@include mq($tab) {
  body {
    font-size: 1rem;
  }
}

*[lang="en"] {
  font-family: 'Roboto Condensed', 'Arial',sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #212121;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

/*========
･･･レイアウト
=============================*/

.l-wrapper {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
}

/*========
･･･レイアウト・ヘッダー
=============================*/

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #E0E0E0;
}

.l-header .l-wrapper {
  padding: .75rem 0;
}

.l-header__logo {
  width: 123px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.l-header__cart {
  float: right;
  position: relative;

    a:hover {
    opacity: .8;
  }
}

.l-header__cart__item {
  position: absolute;
  top: -8px;
  right: -5px;
  margin: auto;
  background: #E0E0E0;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: 50%;
  text-align: center;
  font-size: .75rem;
}

@include mq($tab) {

  .l-header .l-wrapper {
    padding: 1.5rem 0;
  }

  .l-header__logo {
    float: left;
    margin: 0 (40px / 16px)*1rem 0 0;
    position: static;
  }

  .l-nav {
    float: left;
  }

  #l-nav__list li {
      float: left;
      margin: 0 2rem 0 0;
  }

  #l-nav__list li:last-child {
      margin: 0;
    }
}


@include mq($desk) {
  .l-header .l-wrapper {
    padding: (28px/16px)*1rem 0;
  }

  .l-header__logo {
    margin: 0 (64px/16px)*1rem 0 0;
  }
}

/*========
･･･レイアウト・ナビ
=============================*/

#l-nav__list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 3rem 0 0;
  transition: transform .3s ease-in-out;
  transform: translateX(-100%);

  li {
    background-color: #fff;
  }

  &:after {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
  }

  a {
    display: block;
    padding: .75rem 0 .75rem 1.5rem;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  li + li {
      border-top: 1px solid #E0E0E0;
  }
}

@include mq($tab) {

    #l-nav__list {
      position: static;
      margin: 0;
      background: transparent;
      transform: translateX(0);
      width: auto;
      height: auto;

      &:after {
        content: none;
      }

      li + li {
        border: none;
      }
    }

    #l-nav__list a {
    padding: 0 0 .2rem 0;
    transition: .3s ease-in-out;

    &:after {
      content: "";
      display: block;
      width: 0;
      border-bottom: 3px solid transparent;
      transition: .3s ease-in-out;
    }

    &:hover:after {
      border-color: #333;
      width: 100%;
      transition: .3s ease-in-out;
    }

    &:hover {
      background: transparent;
    }
  }
}

.is-active-drawer #l-nav__list {
  transform: translateY(0);
}
/*========
･･･レイアウト・メイン
=============================*/

.l-main {
  padding: 3rem 0 0;
}

@include mq($tab) {
  .l-main {
    padding: 4.5rem 0 0;
  }
}

@include mq($desk) {
  .l-main {
    padding: 5rem 0 0;
  }
}

/*========
･･･レイアウト・ヒーロー
=============================*/

.l-hero {
  position: relative;

  img {
    width: 100%;
  }
}

.l-hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 2px #FFFFFF;
    margin: 0 0 0 20%;
    font-size: 11px/$sp *100vw;
    letter-spacing: .15rem;
    line-height: 1;
}

.hero__text_large {
  font-size: 54px/$sp * 100vw;
  display: block;
}

.hero__text_medium {
  font-size: 24px/$sp * 100vw;
  display: block;
  margin: 0 0 1rem;
}

.hero__text_date {
  font-size: 13px/$sp * 100vw;
}

@include mq($tab) {
  .l-hero__text {
    font-size: 22px/$tab * 100vw;
    margin: 0 0 0 30%;
  }

  .hero__text_large {
    font-size: 104px/$tab * 100vw;
  }

  .hero__text_medium {
    font-size: 44px/$tab * 100vw;
  }

  .hero__text_date {
    font-size: 25px/$tab * 100vw;
  }
}

@include mq($desk) {
  .l-hero__text {
    font-size: 27px/$desk * 100vw;
    margin: 0 0 0 30%;
  }

  .hero__text_large {
    font-size: 126px/$desk * 100vw;
  }

  .hero__text_medium {
    font-size: 53px/$desk * 100vw;
  }

  .hero__text_date {
    font-size: 30px/$desk * 100vw;
  }
}


/*========
･･･レイアウト・セクション
=============================*/

.l-section {
  padding: 1rem 0 1.5rem 0;
}

.l-section__title {
    text-align: center;
    margin: 0 0 1rem;
}

.l-section.l-news-pdg {
  padding: 1rem 0 (48px/16px)*1rem 0;
}

@include mq($tab) {
  .l-section {
    padding: 2rem 0 (40px/16px)*1rem 0;
  }
  .l-section__title {
      margin: 0 0 2.5rem;
  }
}

@include mq($desk) {
  .l-section {
    padding: 2rem 0 (56px/16px)*1rem 0;
  }

  .l-section.l-news-pdg {
    padding: (48px/16px)*1rem 0 (56px/16px)*1rem 0;
  }
}

/*========
･･･レイアウト・カード、ニュース共通
=============================*/
.l-grid-wrapper + .l-button,
.l-news-wrapper + .l-button {
  margin: 1.5rem auto 0;
}

@include mq($tab) {
  .l-grid-wrapper + .l-button,
  .l-news-wrapper + .l-button {
  margin: 2.5rem auto 0;
}
}

/*========
･･･レイアウト・カード
=============================*/

.l-section.l-item-bg {
  background-color: #fafafa;
}

.l-grid-wrapper {
  margin: -4px;
}

.l-grid {
  width: 50%;
  float: left;
  border: 4px solid transparent;

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.l-grid__link {
  display: block;
  background: #fff;
  padding: (105px/148px)*100% .5rem .5rem;
  position: relative;
 }

.l-grid__title {
  padding: .5rem 0;
}

.l-grid__category {
  position: absolute;
  top: 0;
  right: 0;
}

.l-grid__price {
  text-align: right;
}

@include mq($tab) {
  .l-grid-wrapper {
    margin: -.5rem;
  }
  .l-grid {
    width: 33.33333333%;
    border-width: .5rem;
  }
  .l-grid__link {
    padding: (156px/220px)*100% 1rem 1rem;
  }

  .l-grid__title {
    padding: 1rem 0;
  }
}

@include mq($desk) {
  .l-grid {
    width: 25%;
  }

  .l-grid__link {
      padding: (173px/244px)*100% 1rem 1rem;
  }

  .l-grid__title {
      padding: 1rem 0 1.5rem;
  }
}

/*========
･･･レイアウト・ニュース
=============================*/

.l-news {
  margin: 0 0 .5rem;
}

.l-news__link {
    display: block;
    padding: .5rem;
    border: 1px solid #ddd;
  }

.l-news__img {
    width: 30%;
    float: left;
    margin: 0 .5rem 0 0;

    img {
      width: 100%;
    }
  }

.l-news__text {
    width: calc(70% - .5rem);
    float: right;
    position: relative;
  }

@include mq($tab) {

  .l-news-wrapper {
    margin: -.5rem;
  }

  .l-news {
    float: left;
    width: 50%;
    border: .5rem solid transparent;
  }

  .l-news__link {
    padding: 1rem;
  }

  .l-news__img {
    margin: 0 1rem 0 0;
  }

  .l-news__text {
    width: calc(70% - 1rem);
  }
}
/*========
･･･レイアウト・サブナビ
=============================*/

.l-subnav li {
  border-top: 1px solid #e0e0e0;

  a {
    display: inline-block;
    padding: 1rem 1.5rem;

    &:hover {
      opacity: .8;
    }
  }
}

@include mq($tab) {
  .l-subnav {
    font-size: 0;
    text-align: center;
    margin: 0 0 1rem;
  }
  .l-subnav li {
    font-size: .75rem;
    border: none;
    display: inline-block;
    padding: 0 .5rem;
    position: relative;

    &:after {
      content: "|";
      color: #616161;
      position: absolute;
      top: 15px;
      right: -2.5px;
    }
  }

  .l-subnav li:last-child:after {
    content: none;
  }
}

@include mq($desk) {
  .l-subnav {
    text-align: right;

  li:last-child {
    padding: 0 0 0 .5rem;
  }
  }
}

/*========
･･･レイアウト・フッター
=============================*/

.l-footer-inner {
  padding: 1.5rem 0;
  text-align: center;
}

.l-footer__logo {
  margin: 0 0 .75rem;
}

@include mq($tab) {
  .l-footer-inner {
    padding: (28px/16px)*1rem 0;
  }

  .l-footer__logo {
    float: left;
    margin: 0;
  }

  .l-footer__copyright {
    float: right;
    margin: (4px/16px)*1rem 0 0;
  }

}

/*========
･･･装飾・全体  ホバー
=============================*/

.l-grid__link,
.l-news__link {
  transition: .3s ease-in-out;
}

.l-grid__link:hover,
.l-news__link:hover {
  opacity: .8;
  transition: .3s ease-in-out;
}

/*========
･･･装飾・セクション
=============================*/

.l-section__title {

  [lang="en"] {
    display: block;
    font-size: 2rem;
  }
}

@include mq($tab) {
  .l-section__title {
    [lang="en"] {
      font-size: 3rem;
    }
  }
}


/*========
･･･装飾・カード
=============================*/

.l-grid__title {
  font-weight: normal;
}

.l-grid__category {
  font-size: .75rem;
  display: inline-block;
  padding: 0 .4em;
  color: #fff;
  letter-spacing: 0.05rem;
}

.grid__category_men {
    background: $men;
}

.grid__category_women {
    background: $women;
}

.grid__category_kids {
    background: $kids;
}


/*========
･･･装飾・ニュース
=============================*/

.l-news__text__date {
  position: absolute;
  top: 0;
  font-size: .75rem;
}

.l-news__text__title {
  padding: 1.5rem 0 0;
  font-weight: normal;
}

@include mq($tab) {
    .l-news__text__date {
      font-size: (14px/16px)*1rem;
    }
    .l-news__text__title {
    font-size: 1rem;
  }
}

@include mq($desk) {
    .l-news__text__date {
      font-size: 1rem;
    }
    .l-news__text__title {
    padding: 2rem 0 0;
    font-size: (20px/16px)*1rem;
  }
}

/*========
･･･装飾・サブナビ
=============================*/
.l-subnav a {
  color: #616161;
}

/*========
･･･装飾・フッター
=============================*/

.l-footer-inner {
  background: #212121;
  color: #9E9E9E;
}
.l-footer__copyright {
  font-size: .75rem;
}

/*========
･･･モジュール・ハンバーガー
=============================*/

.button-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.5%;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin: auto 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  appearance: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  background: #333;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    transition: transform .2s ease-in-out;
  }

  &:before {
    top: -5px;
  }

  &:after {
    bottom: -5px;
  }
}

@include mq($tab) {
  .button-hamburger {
    display: none;
  }
}

.is-active-drawer .hamburger {
  background: transparent;

  &:before,
  &:after {
    top: 0;
    background: #333;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
}


/*========
･･･モジュール・ボタン
=============================*/

.l-button {
  clear: both;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@include mq($tab) {
  .l-button {
    max-width: 320px;
  }
}

.button {
  display: block;
  background: #212121;
  color: #fff;
}

.button-primary {
  padding: 1rem 0;
  font-size: .875rem;
  font-weight: bold;
  position: relative;
  transition: .3s ease-in-out;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg);
    transition: .3s ease-in-out;
  }

  &:before {
    background-color: #fff;
    right: 7.5%;
  }

  &:after {
    background: inherit;
    right: 8.125%;
  }

  &:hover:before,
  &:hover:after {
    transition: .3s ease-in-out;
  }

  &:hover:before {
    right: 6%;
  }

  &:hover:after {
    right: 7%;
  }
}

/*========
･･･モジュール・アクセシビリティ
=============================*/

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
