.l-overview {
  display: flex;
  justify-content: space-between;
}

.l-overview__img {
  width: 45%;
}

.l-overview__text {
  width: 50%;

  dd {
    margin: 0 0 1rem;
    padding: 0 0 0 1.8rem;
  }
}

.l-overview__text__circle {
  &:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: $orange;
    border-radius: 50%;
    margin: 0 1rem 0 0;
  }
}
