.l-overview {
  margin: 0 0 5rem;
}

.l-overview__img {
    margin: 0 0 2rem;
  }

.l-overview__text {
  dd {
    margin: 0 0 1rem;
    padding: 0 0 0 1.8rem;
  }
}

.l-overview__text__circle {
  &:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: $orange;
    border-radius: 50%;
    margin: 0 1rem 0 0;
  }
}

@media screen and (min-width: $tab) {
  .l-overview {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10rem;

    &:last-of-type {
      margin: 0;
    }
  }

  .l-overview__img {
  width: 45%;
  margin: 0;
  }

.l-overview__text {
  width: 50%;
  }
}
