@charset "utf-8";

.l-section-title.icon04:before {
	background: url(../img/icon_04.png) no-repeat center /contain;
	bottom: 3px;
}

.contact-text {
  margin: 0 0 24px 53px;
}

.l-table {
  width: 100%;
  margin-bottom: 32px;
}

.l-table th, .l-table td {
  padding: 15px;
  border-top: 1px dotted #9C812D;
  border-bottom: 1px dotted #9C812D;
}

.l-table th {
  background-color: rgba(156,129,45,0.3);
}

.l-table tr:last-child th {
  vertical-align: middle;
}

input {
  width: 300px;
}

.tag {
  font-size: 12px;
  background-color: #9C812D;
  color: #fff;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
}

.l-submit {
  text-align: right;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: .8;
}

/* 初期化 */

.submit-reset {
  -webkit-appearance: none;
  background-color: #9C812D;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  width: 192px;
  height: 32px;
  text-decoration: none;
  font-family: "游明朝",serif;
}

.submit-reset:hover,
.submit-reset:focus {
  outline: none;
}

.submit-reset::-moz-foucus-inner {
  border: none;
  padding: 0;
}
