@charset "utf-8";

/* ==
･･･layout
========================*/

/* section-title 画像 */

.l-section-title.icon01:before {
	background: url(../img/icon_01.png) no-repeat center /contain;
	bottom: 3px;
}

.l-section-title.icon02:before {
	background: url(../img/icon_02.png) no-repeat center /contain;
	bottom: 2px;
}

.l-section-title.icon03:before {
	background: url(../img/icon_03.png) no-repeat center /contain;
	bottom: 3px;
}

.l-section-title.icon04:before {
	background: url(../img/icon_04.png) no-repeat center /contain;
	bottom: 3px;
}



/* 横並び共通 */

.bg {
	display: block;
	height: 228px;
	position: relative;
	overflow: hidden;
}

.l-miryoku-list li .bg:after,
.l-plan-list li .bg:after{
	content: "";
	display:  block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.bg:hover:after {
    opacity: .8;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.bg-inner {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}

.bg .bg-inner {
	z-index: 1;
	position: relative;
}

.l-miryoku-title,
.l-plan-title {
	color: #fff;
	z-index: 1;
}


/* miryoku */

.l-miryoku-title {
	text-align: center;
	font-size: 28px;
	padding: 75px 0 0;
}

.l-miryoku-title_sub {
	display: block;
	font-size: 14px;
}

.l-miryoku-list li {
	float: left;
	width: 376px;
	height: 228px;
}

.l-miryoku-list li + li {
	margin: 0 0 0 36px;
}

.l-miryoku-list li:nth-of-type(1) .bg:after{
	background: url(../img/index2/miryoku_01.png);
}

.l-miryoku-list li:nth-of-type(2) .bg:after {
	background: url(../img/index2/miryoku_02.png);
}

.l-miryoku-list li:nth-of-type(3) .bg:after{
	background: url(../img/index2/miryoku_03.png);
}

/* plan */

.l-plan-title {
	padding: 40px 15px;
}

.l-plan-list {
	float: left;
	margin: 0 0 48px;
}

.l-plan-list li {
	float: left;
	width: 376px;
	height: 228px;
	position: relative;
}

.l-plan-list li + li {
	margin: 0 0 36px 36px;
}

.l-plan-list li:nth-of-type(3n+1) {
	margin: 0;
}

.l-plan-list li:nth-of-type(1) .bg:after{
	background: url(../img/index2/plan_01.png);
}

.l-plan-list li:nth-of-type(2) .bg:after{
	background: url(../img/index2/plan_02.png);
}

.l-plan-list li:nth-of-type(3) .bg:after{
	background: url(../img/index2/plan_03.png);
}

.l-plan-list li:nth-of-type(4) .bg:after{
	background: url(../img/index2/plan_04.png);
}

.l-button {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 40px;
	width: 192px;
	margin: 0 auto;
	z-index: 1;
}

/* contents news */

.l-news {
	width: 900px;
	margin: 0 auto 48px;
}

.l-news dt {
	float: left;
	clear: left;
	padding: 8px 0;
}

.l-news dd {
	padding: 8px 0 8px 170px;
	border-bottom: 1px solid #ccc;
}

.l-news dd:last-of-type {
	border: none;
}

.l-news a:hover {
	text-decoration: underline;
}

/* info */

.l-info-left {
	width: 400px;
	float: left;
}

.l-info-map {
	float: right;
	width: 480px;
}

.l-info {
	width: 900px;
	margin: 0 auto;
}

.l-info p:first-child {
	margin: 0 0 20px;
}

.info-text {
	margin: 0 0 12px;
}



/* button */

.button-more {
	width: 376px;
	height: 32px;
	padding: 10px 0;
	background-color: #2F4D1F;
	color: #fff;
}

.button-more:before {
	left: 90px;
}

.button-more:after {
	left: 88px;
}
