@charset "utf-8";

/* ==
･･･layout
========================*/


/* contents miryoku */

.l-miryoku-list li {
	float: left;
	width: 276px;
	height: 227px;
}

.l-miryoku-list li + li {
	margin: 0 0 0 18px;
}

.bg {
	display: block;
	height: 227px;
	position: relative;
	overflow: hidden;
}

.l-miryoku-list li .bg:after {
	content: "";
	display:  block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.bg:hover:after {
    opacity: .8;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.l-miryoku-list li:nth-of-type(1) .bg:after{
	background: url(../img/miryoku_01.png);
}

.l-miryoku-list li:nth-of-type(2) .bg:after {
	background: url(../img/miryoku_02.png);
}

.l-miryoku-list li:nth-of-type(3) .bg:after{
	background: url(../img/miryoku_03.png);
}

.bg-inner {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}

.bg .bg-inner {
	z-index: 1;
	position: relative;
}

/* contents plan */

.l-plan {
	margin: 0 0 32px;
	position: relative;
}

.l-plan:last-of-type {
	margin: 0;
}

.l-plan-img {
	float:left;
	width: 380px;
}

.l-plan-text {
	float: right;
	width: 460px;
	text-align: justify;
}

/* contents news */

.l-news dt {
	float: left;
	clear: left;
	padding: 8px 0;
}

.l-news dd {
	padding: 8px 0 8px 170px;
	border-bottom: 1px solid #ccc;
}

.l-news dd:last-of-type {
	border: none;
}

.l-news a:hover {
	text-decoration: underline;
}


/* ==
･･･Object
========================*/

/* section-title 画像*/

.l-section-title.icon01:before {
	background: url(../img/icon_01.png) no-repeat center /contain;
	bottom: 3px;
}

.l-section-title.icon02:before {
	background: url(../img/icon_02.png) no-repeat center /contain;
	bottom: 2px;
}

.l-section-title.icon03:before {
	background: url(../img/icon_03.png) no-repeat center /contain;
	bottom: 3px;
}

/* contents miryoku */


.l-miryoku-title {
	color: #fff;
	text-align: center;
	font-size: 28px;
	z-index: 1;
	padding: 75px 0 0;
}

.l-miryoku-title_sub {
	display: block;
	font-size: 14px;
}



/* contents plan */

.plan-title {
 	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px;
}

.plan-text_small {
	margin: 12px 0 0;
	display: block;
	font-size: 14px;
}
