@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
}

/*========
･･･ベース
=============================*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP',"游ゴシック",sans-serif;
  line-height: 1.5;
  color: #333;
  font-size: .875rem;
}

body a {
  color: #212121;
}

*[lang="en"] {
  font-family: 'Roboto Condensed', 'Arial',sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #212121;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

/*========
･･･レイアウト
=============================*/
.l-wrapper {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
}

/*========
･･･レイアウト・ヘッダー
=============================*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #E0E0E0;
}

.l-header .l-wrapper {
  padding: .75rem 0;
}

.l-header__logo {
  width: 123px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.l-header__cart {
  float: right;
  position: relative;
}

.l-header__cart a:hover {
  opacity: .8;
}

.l-header__cart__item {
  position: absolute;
  top: -8px;
  right: -5px;
  margin: auto;
  background: #E0E0E0;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: 50%;
  text-align: center;
  font-size: .75rem;
}

@media screen and (min-width: 768px) {
  .l-header .l-wrapper {
    padding: 1.5rem 0;
  }
  .l-header__logo {
    float: left;
    margin: 0 2.5rem 0 0;
    position: static;
  }
  .l-nav {
    float: left;
  }
  #l-nav__list li {
    float: left;
    margin: 0 2rem 0 0;
  }
  #l-nav__list li:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .l-header .l-wrapper {
    padding: 1.75rem 0;
  }
  .l-header__logo {
    margin: 0 4rem 0 0;
  }
}

/*========
･･･レイアウト・ナビ
=============================*/
#l-nav__list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 3rem 0 0;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

#l-nav__list li {
  background-color: #fff;
}

#l-nav__list:after {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#l-nav__list a {
  display: block;
  padding: .75rem 0 .75rem 1.5rem;
}

#l-nav__list a:hover {
  background-color: #e0e0e0;
}

#l-nav__list li + li {
  border-top: 1px solid #E0E0E0;
}

@media screen and (min-width: 768px) {
  #l-nav__list {
    position: static;
    margin: 0;
    background: transparent;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: auto;
    height: auto;
  }
  #l-nav__list:after {
    content: none;
  }
  #l-nav__list li + li {
    border: none;
  }
  #l-nav__list a {
    padding: 0 0 .2rem 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  #l-nav__list a:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 3px solid transparent;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  #l-nav__list a:hover:after {
    border-color: #333;
    width: 100%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  #l-nav__list a:hover {
    background: transparent;
  }
}

.is-active-drawer #l-nav__list {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

/*========
･･･レイアウト・メイン
=============================*/
.l-main {
  padding: 3rem 0 0;
}

@media screen and (min-width: 768px) {
  .l-main {
    padding: 4.5rem 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .l-main {
    padding: 5rem 0 0;
  }
}

/*========
･･･レイアウト・ヒーロー
=============================*/
.l-hero {
  position: relative;
}

.l-hero img {
  width: 100%;
}

.l-hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 0 0 2px #FFFFFF;
  margin: 0 0 0 20%;
  font-size: 3.4375vw;
  letter-spacing: .15rem;
  line-height: 1;
}

.hero__text_large {
  font-size: 16.875vw;
  display: block;
}

.hero__text_medium {
  font-size: 7.5vw;
  display: block;
  margin: 0 0 1rem;
}

.hero__text_date {
  font-size: 4.0625vw;
}

@media screen and (min-width: 768px) {
  .l-hero__text {
    font-size: 2.86458vw;
    margin: 0 0 0 30%;
  }
  .hero__text_large {
    font-size: 13.54167vw;
  }
  .hero__text_medium {
    font-size: 5.72917vw;
  }
  .hero__text_date {
    font-size: 3.25521vw;
  }
}

@media screen and (min-width: 1024px) {
  .l-hero__text {
    font-size: 2.63672vw;
    margin: 0 0 0 30%;
  }
  .hero__text_large {
    font-size: 12.30469vw;
  }
  .hero__text_medium {
    font-size: 5.17578vw;
  }
  .hero__text_date {
    font-size: 2.92969vw;
  }
}

/*========
･･･レイアウト・セクション
=============================*/
.l-section {
  padding: 1rem 0 1.5rem 0;
}

.l-section__title {
  text-align: center;
  margin: 0 0 1rem;
}

.l-section.l-news-pdg {
  padding: 1rem 0 3rem 0;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding: 2rem 0 2.5rem 0;
  }
  .l-section__title {
    margin: 0 0 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .l-section {
    padding: 2rem 0 3.5rem 0;
  }
  .l-section.l-news-pdg {
    padding: 3rem 0 3.5rem 0;
  }
}

/*========
･･･レイアウト・カード、ニュース共通
=============================*/
.l-grid-wrapper + .l-button,
.l-news-wrapper + .l-button {
  margin: 1.5rem auto 0;
}

@media screen and (min-width: 768px) {
  .l-grid-wrapper + .l-button,
  .l-news-wrapper + .l-button {
    margin: 2.5rem auto 0;
  }
}

/*========
･･･レイアウト・カード
=============================*/
.l-section.l-item-bg {
  background-color: #fafafa;
}

.l-grid-wrapper {
  margin: -4px;
}

.l-grid {
  width: 50%;
  float: left;
  border: 4px solid transparent;
}

.l-grid img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.l-grid__link {
  display: block;
  background: #fff;
  padding: 70.94595% 0.5rem 0.5rem;
  position: relative;
}

.l-grid__title {
  padding: .5rem 0;
}

.l-grid__category {
  position: absolute;
  top: 0;
  right: 0;
}

.l-grid__price {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .l-grid-wrapper {
    margin: -.5rem;
  }
  .l-grid {
    width: 33.33333333%;
    border-width: .5rem;
  }
  .l-grid__link {
    padding: 70.90909% 1rem 1rem;
  }
  .l-grid__title {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .l-grid {
    width: 25%;
  }
  .l-grid__link {
    padding: 70.90164% 1rem 1rem;
  }
  .l-grid__title {
    padding: 1rem 0 1.5rem;
  }
}

/*========
･･･レイアウト・ニュース
=============================*/
.l-news {
  margin: 0 0 .5rem;
}

.l-news__link {
  display: block;
  padding: .5rem;
  border: 1px solid #ddd;
}

.l-news__img {
  width: 30%;
  float: left;
  margin: 0 .5rem 0 0;
}

.l-news__img img {
  width: 100%;
}

.l-news__text {
  width: calc(70% - .5rem);
  float: right;
  position: relative;
}

@media screen and (min-width: 768px) {
  .l-news-wrapper {
    margin: -.5rem;
  }
  .l-news {
    float: left;
    width: 50%;
    border: .5rem solid transparent;
  }
  .l-news__link {
    padding: 1rem;
  }
  .l-news__img {
    margin: 0 1rem 0 0;
  }
  .l-news__text {
    width: calc(70% - 1rem);
  }
}

/*========
･･･レイアウト・サブナビ
=============================*/
.l-subnav li {
  border-top: 1px solid #e0e0e0;
}

.l-subnav li a {
  display: inline-block;
  padding: 1rem 1.5rem;
}

.l-subnav li a:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .l-subnav {
    font-size: 0;
    text-align: center;
    margin: 0 0 1rem;
  }
  .l-subnav li {
    font-size: .75rem;
    border: none;
    display: inline-block;
    padding: 0 .5rem;
    position: relative;
  }
  .l-subnav li:after {
    content: "|";
    color: #616161;
    position: absolute;
    top: 15px;
    right: -2.5px;
  }
  .l-subnav li:last-child:after {
    content: none;
  }
}

@media screen and (min-width: 1024px) {
  .l-subnav {
    text-align: right;
  }
  .l-subnav li:last-child {
    padding: 0 0 0 .5rem;
  }
}

/*========
･･･レイアウト・フッター
=============================*/
.l-footer-inner {
  padding: 1.5rem 0;
  text-align: center;
}

.l-footer__logo {
  margin: 0 0 .75rem;
}

@media screen and (min-width: 768px) {
  .l-footer-inner {
    padding: 1.75rem 0;
  }
  .l-footer__logo {
    float: left;
    margin: 0;
  }
  .l-footer__copyright {
    float: right;
    margin: 0.25rem 0 0;
  }
}

/*========
･･･装飾・全体  ホバー
=============================*/
.l-grid__link,
.l-news__link {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.l-grid__link:hover,
.l-news__link:hover {
  opacity: .8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/*========
･･･装飾・セクション
=============================*/
.l-section__title [lang="en"] {
  display: block;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .l-section__title [lang="en"] {
    font-size: 3rem;
  }
}

/*========
･･･装飾・カード
=============================*/
.l-grid__title {
  font-weight: normal;
}

.l-grid__category {
  font-size: .75rem;
  display: inline-block;
  padding: 0 .4em;
  color: #fff;
  letter-spacing: 0.05rem;
}

.grid__category_men {
  background: #1a237e;
}

.grid__category_women {
  background: #B71C1C;
}

.grid__category_kids {
  background: #FBC02D;
}

/*========
･･･装飾・ニュース
=============================*/
.l-news__text__date {
  position: absolute;
  top: 0;
  font-size: .75rem;
}

.l-news__text__title {
  padding: 1.5rem 0 0;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .l-news__text__date {
    font-size: 0.875rem;
  }
  .l-news__text__title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .l-news__text__date {
    font-size: 1rem;
  }
  .l-news__text__title {
    padding: 2rem 0 0;
    font-size: 1.25rem;
  }
}

/*========
･･･装飾・サブナビ
=============================*/
.l-subnav a {
  color: #616161;
}

/*========
･･･装飾・フッター
=============================*/
.l-footer-inner {
  background: #212121;
  color: #9E9E9E;
}

.l-footer__copyright {
  font-size: .75rem;
}

/*========
･･･モジュール・ハンバーガー
=============================*/
.button-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.5%;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin: auto 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  background: #333;
}

.hamburger:before, .hamburger:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.hamburger:before {
  top: -5px;
}

.hamburger:after {
  bottom: -5px;
}

@media screen and (min-width: 768px) {
  .button-hamburger {
    display: none;
  }
}

.is-active-drawer .hamburger {
  background: transparent;
}

.is-active-drawer .hamburger:before, .is-active-drawer .hamburger:after {
  top: 0;
  background: #333;
}

.is-active-drawer .hamburger:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-active-drawer .hamburger:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*========
･･･モジュール・ボタン
=============================*/
.l-button {
  clear: both;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l-button {
    max-width: 320px;
  }
}

.button {
  display: block;
  background: #212121;
  color: #fff;
}

.button-primary {
  padding: 1rem 0;
  font-size: .875rem;
  font-weight: bold;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.button-primary:before, .button-primary:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.button-primary:before {
  background-color: #fff;
  right: 7.5%;
}

.button-primary:after {
  background: inherit;
  right: 8.125%;
}

.button-primary:hover:before, .button-primary:hover:after {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.button-primary:hover:before {
  right: 6%;
}

.button-primary:hover:after {
  right: 7%;
}

/*========
･･･モジュール・アクセシビリティ
=============================*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
