@charset "utf-8";

/* ==================
･･･Base
========================*/

body {
	font-family: "游明朝",serif;
	background: url(../img/bg.jpg) left top /cover;
	color: #333;
	line-height: 1.5;
}

/* ==================
･･･layout
========================*/

.l-wrapper {
	width: 1280px;
	margin: 0 auto;
}

/*========
･･･Accessibility
=============================*/

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
