@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

/* ==================
･･･Base
========================*/
body {
  font-family: "游明朝",serif;
  background: url(../img/bg.jpg) left top/cover;
  color: #333;
  line-height: 1.5;
}

/* ==================
･･･layout
========================*/
.l-wrapper {
  width: 1280px;
  margin: 0 auto;
}

/*========
･･･Accessibility
=============================*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.l-header {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.l-header a {
  color: #fff;
}

.l-header__title {
  float: left;
  padding: 1rem 0;
}

.l-title_name {
  display: block;
  line-height: 1;
  padding: .8rem 0 0;
  font-size: 2rem;
}

.l-nav {
  float: right;
  margin: 60px 0 0;
}

.l-nav a:hover {
  opacity: .8;
}

.l-nav__list li {
  float: left;
  margin: 0 32px 0;
}

.l-footer {
  background: url(../img/footer-bg.png);
  color: #ccc;
}

.l-footer .l-title {
  margin: 0 0 1.5rem;
}

.l-footer .l-title a {
  display: block;
}

.l-footer-inner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 24px 0;
}

.l-footer a {
  color: #ccc;
}

.l-footer a:hover {
  opacity: .8;
}

.l-footer__img {
  float: left;
}

.l-footer__address {
  margin: 0 0 0 48px;
  float: left;
}

.l-footer__access {
  font-style: normal;
  margin: 0 0 0.75rem;
}

.l-footer__address__sns a {
  display: inline-block;
}

.l-footer__nav {
  float: right;
}

.l-footer__nav__list {
  float: left;
}

.l-footer__nav__list li {
  margin: 0 0 1rem;
}

.l-footer__nav__list + .l-footer__nav__list {
  margin: 0 0 0 4.75rem;
}

.l-footer__copyright {
  display: block;
  clear: both;
  text-align: center;
  padding: 32px 0 0;
  font-size: 14px;
}

/* ==================
･･･ main layout
========================*/
.l-contents {
  float: left;
  width: 896px;
}

.l-sidebar {
  float: right;
  width: 320px;
}

/* ==================
･･･ button
========================*/
.l-button_contents {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

.l-button_more {
  position: absolute;
  right: 0;
  bottom: 0;
}

.button {
  text-align: center;
  display: block;
  background-color: #9C812D;
  color: #fff;
}

.button:hover {
  opacity: .8;
}

.button-primary {
  line-height: 32px;
  width: 192px;
  height: 32px;
}

.l-sidebar__border .l-button_more {
  right: 1rem;
  bottom: 1rem;
}

/* ==================
･･･ subnav
========================*/
.l-subnav {
  margin: 0 0 3rem;
}

.l-subnav a {
  position: relative;
  padding: 16px 0 16px 40px;
  background-color: #2F4D1F;
  color: #fff;
  display: block;
}

.l-subnav a:before, .l-subnav a:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.l-subnav a:before {
  background-color: #fff;
  left: 14px;
}

.l-subnav a:after {
  background-color: #2F4D1F;
  left: 12px;
}

.l-subnav a:hover {
  background-color: #1f3314;
}

.l-subnav a:hover:after {
  background-color: #1f3314;
}

/* ==================
･･･ kensaku
========================*/
.l-kensaku-form {
  font-size: 1rem;
  margin: 0 0 1.5rem;
  padding: 0 0 2.5rem;
  position: relative;
}

.l-kensaku-form th {
  text-align-last: left;
}

.l-kensaku-form td {
  padding: 8px 0 8px 6px;
}

/* ==================
･･･ info
========================*/
.l-info-text {
  margin: 0 0 0.75rem;
}

/* ==================
･･･ sidebar 共通
========================*/
.l-sidebar__title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 1.25rem;
}

.l-sidebar__border {
  border-top: 16px solid #2F4D1F;
}

.l-hero {
  background: url(../img/hero2.jpg) no-repeat center/cover;
  height: 800px;
  margin: 0 0 3rem;
  position: relative;
}

.l-hero-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.l-hero__text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  letter-spacing: 6px;
  line-height: 1.8;
  font-weight: bold;
  text-shadow: -1px -1px 4px #fffdd0;
  text-align: center;
}

/* ==================
･･･ section
========================*/
.l-section {
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0 3rem;
  position: relative;
}

.l-section__title {
  font-size: 28px;
  margin: 0 0 24px;
  border-bottom: 2px solid #9C812D;
  padding: 0 0 5px 60px;
  position: relative;
}

.l-section__title:before {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
  bottom: 6px;
  background: url(../img/icon_01.png) no-repeat center/contain;
}

/* ==================
･･･ charm
========================*/
.l-charm__list li {
  float: left;
  width: 276px;
  height: 227px;
}

.l-charm__list li + li {
  margin: 0 0 0 18px;
}

.l-charm__list li:nth-of-type(1) .bg:after {
  background: url(../img/miryoku_01.png);
}

.l-charm__list li:nth-of-type(2) .bg:after {
  background: url(../img/miryoku_02.png);
}

.l-charm__list li:nth-of-type(3) .bg:after {
  background: url(../img/miryoku_03.png);
}

.bg {
  display: block;
  height: 227px;
  position: relative;
  overflow: hidden;
}

.bg:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.bg:hover:after {
  opacity: .8;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.bg .bg-inner {
  z-index: 1;
  position: relative;
}

.bg-inner {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.l-charm__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
}

.l-charm__text_strong {
  padding: 1rem 0 0;
  font-size: 1.75rem;
  display: block;
}

/* ==================
･･･ plan
========================*/
.l-plan {
  margin: 0 0 32px;
  position: relative;
}

.l-plan:last-of-type {
  margin: 0;
}

.l-plan__title {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 0 20px;
}

.l-plan-img {
  float: left;
  width: 380px;
}

.l-plan__text__wrapper {
  float: right;
  width: 460px;
  text-align: justify;
}

/* ==================
･･･ news
========================*/
.l-news-list li {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid #ccc;
}

.l-news-list li:last-child {
  border: none;
  padding: 0;
}

.l-news-list__link {
  color: #333;
  margin: 0 0 0 6.25rem;
}

.l-news-list__link:hover {
  text-decoration: underline;
}
