/* =====================
･･･ section 画像
========================*/

/* section-title 画像 */

.l-section__title.icon01:before {
	background: url(../img/icon_01.png) no-repeat center /contain;
	bottom: 3px;
}

.l-section__title.icon02:before {
	background: url(../img/icon_02.png) no-repeat center /contain;
	bottom: 2px;
}

.l-section__title.icon03:before {
	background: url(../img/icon_03.png) no-repeat center /contain;
	left: -190px;
	bottom: 3px;
}

.l-section__title.icon04:before {
	background: url(../img/icon_04.png) no-repeat center /contain;
	bottom: 3px;
}
/* =====================
･･･l-charm-list
========================*/

.l-charm__title {
	text-align: center;
	font-size: 1.75rem;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	white-space: nowrap;
}

.l-charm__title__sub {
	display: block;
	font-size: .875rem;
}

.l-charm-list li {
	width: 100%;
	height: (250px/16px)*1rem;
	margin: 0 auto 1rem;
	position: relative;
	overflow: hidden;
}

.l-charm-list li:nth-child(1) .bg-scale {
	&:after {
		background: url(../img//miryoku_01.png) no-repeat top left/cover;
	}
}

.l-charm-list li:nth-child(2) .bg-scale {
	&:after {
		background: url(../img//miryoku_02.png) no-repeat top left/cover;
	}
}

.l-charm-list li:nth-child(3) .bg-scale {
	&:after {
		background: url(../img//miryoku_03.png) no-repeat top left/cover;
	}
}

@media screen and (min-width: $tab) {

	.l-charm-list li {
		float: left;
		width: calc( (100% - 1.5rem) / 2 );
		margin: 0 1.5rem 1.5rem 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}

@media screen and (min-width: $desk) {
	.l-charm-list li {
		width: calc( (100% - 3rem) / 3 );
	}

	.l-charm-list li:nth-child(2n) {
		margin: 0 1.5rem 1.5rem 0;
	}

	.l-charm-list li:nth-child(3n) {
		margin-right: 0;
  }
}
/* =====================
･･･l-plan-list
========================*/

.l-plan__title {
	padding: (40px/16px)*1rem (20px/15px)*1rem;
	color: #fff;
}

.l-plan-list li {
	width: 100%;
	height: (250px/16px)*1rem;
	margin: 0 auto 1rem;
	position: relative;
	color: #fff;
	overflow: hidden;
}

.l-plan-list li:nth-child(1) .bg-scale {
	&:after {
		background: url(../img/plan_01.png) no-repeat top left/cover;
	}
}
.l-plan-list li:nth-child(2) .bg-scale {
	&:after {
		background: url(../img/plan_02.png) no-repeat top left/cover;
	}
}
.l-plan-list li:nth-child(3) .bg-scale {
	&:after {
		background: url(../img/plan_03.png) no-repeat top left/cover;
	}
}
.l-plan-list li:nth-child(4) .bg-scale {
	&:after {
		background: url(../img/plan_04.png) no-repeat top left/cover;
	}
}

@media screen and (min-width: $tab) {

	.l-plan-list li {
		float: left;
		width: calc( (100% - 1.5rem) / 2 );
		margin: 0 1.5rem 1.5rem 0;
	}

	.l-plan-list:nth-of-type(2n) {
		margin-right: 0;
	}
}

@media screen and (min-width: $desk) {
	.l-plan-list li{
		width: calc( (100% - 3rem) / 3);

		&:nth-child(2n) {
			margin: 0 1.5rem 1.5rem 0;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}

/* =====================
･･･l-charm-list l-plan-list 背景拡大用
========================*/

.bg-scale{
		overflow: hidden;
    width: 100%;
		height: 100%;
		display: block;
		position: relative;

	&:after {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}

	&:hover:after {
    opacity: .8;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
		transform: scale(1.2);
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}
}

.bg-scale .bg-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 1;
}

/* =====================
･･･news
========================*/

.l-news {
	width: 100%;
	margin: 0 auto;

	dd {
		margin: 0 0 1rem;
		padding: 0 0 .5rem;
		border-bottom: 1px solid #ccc;

		&:last-of-type {
			border: none;
		}
	}
}


.l-news a {
    &:hover {
  text-decoration: underline;
  }
}

@media screen and (min-width: $tab) {

	.l-news {
		width: 80%;
		margin: 0 auto 3rem;

		dt {
			float: left;
			clear: left;
			padding: .5rem 0;
		}

		dd {
			padding: .5rem 0 .5rem (170px/16px)*1rem;
		}
	}
}

/* =====================
･･･info
========================*/

.l-info {
	width: 100%;
	margin: 0 auto;
}

.l-info__table td,
.l-info__table th {
	padding: 0 1rem 1rem 0;
}

.l-info__map {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;

		iflame {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}
}


@media screen and (min-width: $tab) {

	.l-info__table th {
		white-space: nowrap;
	}

	.l-info__text {
		width: 50%;
		float: left;
	}

	.l-info__map {
		float: right;
		width: 50%;
	}

	.l-info {
		width: 80%;
		margin: 0 auto;
	}
}
