.l-footer {
  background:#333;
  padding: 1.5rem 0;
  color: #fff;

    a {
      color: #fff;
      transition: .2s ease-in-out;

      &:hover {
        opacity: .7;
      }
    }
}

.l-footer__title {
  a {
    display: block;
  }
}

.l-footer__nav {
  display: flex;
  margin: 0 0 2rem;
}

.l-footer__nav li + li {
    margin: 0 0 0 1rem;
}

.l-footer__copyright {
  text-align: right;
}

@media screen and (min-width: $tab) {
  .l-footer-inner {
    display: flex;
    justify-content: space-between;
  }

  .l-footer__nav {
    margin: 2rem 0 0;
  }

  .l-footer__copyright {
    clear: both;
    text-align: center;
  }

}
