/*===========================
･･･header
=============================*/

.l-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background: #fff;
}

.l-header-inner {
  display: flex;
  justify-content: space-between;
}

#l-nav__list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  margin: 4.6rem 0 0;
  text-align: center;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
  }
}

#l-nav__list a {
  color: #fff;
  display: block;
  padding: 1rem 0;
  transition: .2s- ease-in-out;

  &:hover {
    opacity: .7;
  }
}

.is-active-drawer #l-nav__list {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}


 @media screen and (min-width: 768px) {
  .l-nav {
    padding: 2rem 0 0;
  }

  #l-nav__list {
    position: static;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: auto;
    height: auto;
    margin: 0;
    display: flex;

    &:before {
      content: none;
    }

    a {
    display: block;
    color: #333;
    border-bottom: 5px solid transparent;
    transition: .2s ease-in-out;
    font-size: (20px/16px)*1rem;
  }
}

  #l-nav__list li + li {
      margin: 0 0 0 (72px/16px)*1rem;
    }
}
