/*===========================
･･･title
=============================*/
.l-title {
  float: left;
  padding: .5rem 0;

  a {
    display: block;
  }
}

.l-title_large {
  display: block;
  font-size: 1.5rem;
}

@media screen and (min-width: $tab) {
  .l-title {
    padding: 1rem 0;
  }

  .l-title_large {
    font-size: 2.5rem;
  }
}

/*===========================
･･･hero
=============================*/
.l-hero__text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 7vw;
}

@media screen and (min-width: $tab) {
  .l-hero__text {
    left: 18%;
    font-size: 4.5vw;
  }
}

/*===========================
･･･section
=============================*/

.l-section {
  padding: (64px/16px)*1rem 0;
  position: relative;
}

.l-section:nth-of-type(2n) {
  background: #eee;
}

.l-section__title {
  font-size: .85rem;
  text-align: center;
  margin: 0 0 (48px/16px)*1rem;
  letter-spacing: 5px;
}

.l-section__title_large {
  font-size: (48px/16px)*1rem;
  text-shadow: 2px 2px 5px #ccc;
  -webkit-text-stroke: 1px #FFF;
  text-stroke: 1px #FFF;
  display: block;
}

.l-section.-line {
  &:before,
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    margin: auto;
    content: "";
    display: block;
    width: 4px;
  }

  &:before {
    height: 100px;
    background: $green;
  }

  &:after {
    height: 50px;
    top: 0;
    background: #333;
  }
}


@media screen and (min-width: $tab) {

  .l-section {
    padding: (122px/16px)*1rem 0;
  }

  .l-section__title {
    font-size: 1rem;
    margin: 0 0 (48px/16px)*1rem;
  }

  .l-section__title_large {
  font-size: (80px/16px)*1rem;
  }
}

/*===========================
･･･works
=============================*/
.l-works-list li {
  text-align: center;
  margin: 0 0 3rem;
}

.l-works__contents {
  display: block;
  transition: .2s ease-in-out;
  margin: 0 0 1rem;

  &:hover {
    opacity: .7;
    transition: .2s ease-in-out;
  }
}

.l-works__img {
	width: 100%;
	margin: 0 0 1rem;
}

.l-works__button {
  display: block;
	margin: .5rem 0 0 0;
	padding: .5rem;
	border-radius: 5px;
	display: inline-block;
	font-size: .875rem;
  background: #F5E431;

  &:hover {
    opacity: .7;
  }
}

@media screen and (min-width: $tab) {
  .l-works-list li {
    float: left;
    width: calc((100% - 48px)/3);
    margin: 0 1.5rem 3rem 0;
  }

  .l-works-list li:nth-of-type(3n) {
    margin-right: 0;
  }

  .l-works__contents {
    margin: 0 0 2rem;
  }
}


/*===========================
･･･About
=============================*/

.l-about__profile {
  padding: 20px;
  border: 15px solid $orange;
  height: auto;
  margin: 0 0 1rem;
}

.l-about__profile__img {
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.l-about__profile__text {
  margin: 1rem 0 0;
}

.about__profile__name {
  font-size: 1.3rem;
  line-height: 1;
  display: inline-block;
}

.about__profile__icon {
  transition: .2s ease-in-out;

  &:hover {
    transition: .2s ease-in-out;
    color: $orange;
  }
}

.about__profile__age {
  display: block;
  margin: 0 0 .7rem;
}

.l-about__message {
  background: url(../../img/icon-cat.png) no-repeat right 250px;
}

.l-about__message__title {
  font-size: 1.3rem;
}

.l-about__message__contents {
  margin: 0 0 2rem;
  font-size: .95rem;
}

@media screen and (min-width: $tab) {

  .l-about__profile {
    float: left;
    width:  50%;
  }

  .about__profile__name {
    font-size: 2rem;
  }

  .l-about__message {
    float: right;
    width: calc(50% - 1rem);
    background: url(../../img/icon-cat.png) no-repeat right 250px;
  }

  .l-about__message__title {
    font-size: 2rem;
  }
}

/*===========================
･･･Career
=============================*/

.l-career {
  width: 100%;
  margin: 0 auto 2rem;
}

.l-career__date {
  float: left;
  clear: left;
}

.l-career__text {
  padding: 0 0 0 6rem;
  margin: 0 0 1rem;
}

@media screen and (min-width: $tab) {
  .l-career {
    width: 80%;
  }

  .l-career__text {
    padding: 0 0 0 8rem;
  }
}

@media screen and (min-width: $desk) {
  .l-career__text {
    padding: 0 0 0 15rem;
  }
}


/*===========================
･･･Skill
=============================*/
.l-skill-list li {
  margin: 0 0 2rem;
}

.skill-list__img {
  float: left;
  width: 20%;
}

.skill-list__contents {
  float: left;
  width: 70%;
}

@media screen and (min-width: $tab) {
  .l-skill-list li {
    width: 50%;
    float: left;
  }
}

.skill_list__percentage {
  padding: 0 .5rem 0 0;
	width: 100%;
	background: #ccc;
	text-align: right;
  position: relative;
}

.skill_list__percentage:after {
	content: "";
	display: block;
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  transition: .3s ease-in-out;
  z-index: -1;
}

.skill_list__percentage.percentage_90:after {
	animation: percentage_90 2s ease-in-out .5s 1 forwards;
}
.skill_list__percentage.percentage_80:after {
	animation: percentage_80 2s ease-in-out .5s 1 forwards;
}
.skill_list__percentage.percentage_70:after {
	animation: percentage_70 2s ease-in-out .5s 1 forwards;
}
.skill_list__percentage.percentage_60:after {
	animation: percentage_60 2s ease-in-out .5s 1 forwards;
}
.skill_list__percentage.percentage_30:after {
	animation: percentage_30 2s ease-in-out .5s 1 forwards;
}

@keyframes percentage_90 {
    0% {
  width: 0%;
 	background: linear-gradient(to right, #FAC671);
    }
    100% {
  width: 90%;
 	background: linear-gradient(to right, #FAC671, #f5e431);
    }
}

@keyframes percentage_80 {
    0% {
  width: 0%;
  background: linear-gradient(to right, #FAC671);
    }
    100% {
  width: 80%;
 	background: linear-gradient(to right, #FAC671, #F5E431);
    }
}
@keyframes percentage_70 {
    0% {
  width: 0%;
  background: linear-gradient(to right, #FAC671);
    }
    100% {
  width: 70%;
 	background: linear-gradient(to right, #FAC671, #F5E431);
    }
}
@keyframes percentage_60 {
    0% {
  width: 0%;
  background: linear-gradient(to right, #FAC671);
    }
    100% {
  width: 60%;
 	background: linear-gradient(to right, #FAC671, #F5E431);
    }
}
@keyframes percentage_30 {
    0% {
  width: 0%;
  background: linear-gradient(to right, #FAC671);
    }
    100% {
  width: 30%;
 	background: linear-gradient(to right, #FAC671, #F5E431);
    }
}


/*========
･･･モジュール・ハンバーガー
=============================*/
.button-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2.5%;
  z-index: 200;
  width: 24px;
  height: 24px;
  margin: auto 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  background: #333;
}

.hamburger:before, .hamburger:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.hamburger:before {
  top: -5px;
}

.hamburger:after {
  bottom: -5px;
}

@media screen and (min-width: 768px) {
  .button-hamburger {
    display: none;
  }
}

.is-active-drawer .hamburger {
  background: transparent;
}

.is-active-drawer .hamburger:before, .is-active-drawer .hamburger:after {
  top: 0;
  background: #333;
}

.is-active-drawer .hamburger:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-active-drawer .hamburger:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
