/* ==================
･･･ section
========================*/

.l-section {
	padding: 1rem 1rem;
	background-color: rgba(255,255,255,0.5);
	margin: 0 0 3rem;
	position: relative;
}

.l-section__title {
	font-size: 28px;
	margin: 0 0 24px;
	border-bottom: 2px solid #9C812D;
	padding: 0 0 5px 60px;
	position: relative;
}

.l-section__title:before {
	content: "";
  display: block;
	width: 45px;
	height: 45px;
	position: absolute;
  left: 0;
  bottom: 6px;
  background: url(../img/icon_01.png) no-repeat center /contain;
}

/* ==================
･･･ charm
========================*/

.l-charm__list li {
	float: left;
	width: 276px;
	height: 227px;
}

.l-charm__list li + li{
	margin: 0 0 0 18px;
}

.l-charm__list li:nth-of-type(1) .bg:after{
	background: url(../img/miryoku_01.png);
}

.l-charm__list li:nth-of-type(2) .bg:after {
	background: url(../img/miryoku_02.png);
}

.l-charm__list li:nth-of-type(3) .bg:after{
	background: url(../img/miryoku_03.png);
}

.bg {
	display: block;
	height: 227px;
	position: relative;
  overflow: hidden;

  &:after {
	content: "";
	display:  block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }

  &:hover:after {
    opacity: .8;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .bg-inner {
	z-index: 1;
	position: relative;
  }
}

.bg-inner {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}

.l-charm__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
  text-align: center;
	color: #fff;
	font-size: (14px/16px)*1rem;
}

.l-charm__text_strong {
  padding: 1rem 0 0;
  font-size: (28px/16px)*1rem;
	display: block;
}

/* ==================
･･･ plan
========================*/

.l-plan {
	margin: 0 0 32px;
	position: relative;
}

.l-plan:last-of-type {
	margin: 0;
}

.l-plan__title {
	font-weight: bold;
	font-size: (20px/16px)*1rem;
	margin: 0 0 20px;
}

.l-plan-img {
	float:left;
	width: 380px;
}

.l-plan__text__wrapper {
	float: right;
	width: 460px;
	text-align: justify;
}

/* ==================
･･･ news
========================*/

.l-news-list li {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid #ccc;
}

.l-news-list li:last-child {
	border: none;
	padding: 0;
}

.l-news-list__link {
  color: #333;
  margin: 0 0 0 (100px/16px)*1rem;

  &:hover {
    text-decoration: underline;
  }
}
