/* ==================
･･･ main layout
========================*/

.l-contents {
	float: left;
	width: 896px;
}

.l-sidebar {
	float: right;
	width: 320px;
}

/* ==================
･･･ button
========================*/
// .l-plan relative;

.l-button_contents {
  position: absolute;
	top: 1.3rem;
  right: 1rem;
}

.l-button_more {
  position : absolute;
  right: 0;
  bottom: 0;
}

// メインで使うボタン

.button {
	text-align: center;
	display: block;
	background-color: #9C812D;
	color: #fff;

	&:hover {
		opacity: .8;
	}
}

.button-primary {
	line-height: 32px;
	width: 192px;
	height: 32px;
}

// .l-sidebar 空室を探すのみ調整用;

.l-sidebar__border .l-button_more {
	right: 1rem;
	bottom: 1rem;
}
