/* ==================
･･･ subnav
========================*/

.l-subnav {
  margin: 0 0 3rem;

  a {
  position: relative;
  padding: 16px 0 16px 40px;
	background-color:#2F4D1F;
	color: #fff;
	display: block;

  &:before,
  &:after {
  	content: "";
	display: block;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
  }

  &:before {
	background-color: #fff;
	left: 14px;
  }

  &:after {
	background-color: #2F4D1F;
	left: 12px;
  }

  &:hover {
	background-color: #1f3314;
  }

  &:hover:after {
	background-color: #1f3314;
  }

  }
}


/* ==================
･･･ kensaku
========================*/

.l-kensaku-form {
	font-size: 1rem;
	margin: 0 0 1.5rem;
	padding: 0 0 2.5rem;
	position: relative;

	th {
		text-align-last: left;
	}

	td {
		padding: 8px 0 8px 6px;
	}
}

/* ==================
･･･ info
========================*/

.l-info-text {
	margin: 0 0 (12px/16px)*1rem;
}

/* ==================
･･･ sidebar 共通
========================*/

.l-sidebar__title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 (20px/16px)*1rem;
}

.l-sidebar__border {
  border-top: 16px solid #2F4D1F;
}
